
		#welcome {font-size: 60px;}
		#menu1 ul li p {font-size: 30px;}
		#identify {font-size: 20px; }
		#menu1 img {width: 130px; height: 130px;}
		.mid img {width: 90%; height: 700px; ali}
		#SNS img {width: 35px; }
		#welcome img {width: 60px;}
		.wrap #sns a img {width: 200px;}
		#left img {width: 90%;}
		#total img {width: 60px; }
		#total h1 {font-size: 60px;} 
		div #right {font-size: 20px;}
		#total #left img {width: 500px; height: 500px; padding-left: 150px; padding-top: 50px;}
		.movielist h1 img {width: 45px;}
		.movielist ul img {width: 400px; height: 400px;}
		#welcome i {font-size: 20px;}
		#identify fieldset { width: 250px;}
		#identify input {width: 150px;}